@tailwind base;
@tailwind components;
@tailwind utilities;

:where(html) {
  display: grid;
  height: 100vh;
}

@layer components {
  .min-h-dvh {
    min-height: 100vh;
    min-height: 100dvh;
  }
  .max-h-dvh {
    max-height: 100vh;
    max-height: 100dvh;
  }
  .h-dvh {
    height: 100vh;
    height: 100dvh;
  }
}